layout {
    pane split_direction="vertical" {
        pane {
            command "bash"
            args "-c" "cd ~/novig-code/monorepo && docker compose up hasura-gql --no-deps; bash"
        }
        pane {
            command "bash"
            args "-c" "cd ~/novig-code/monorepo && docker compose up --build postgres redis kafka; bash"
        }
    }
}
